// COMMON STYLES


.title {
  display: block;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}
.titleOptions{
  display: block;
}

// PAGE

.page {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/blackboard.jpg');
  background-size: cover;
  background-position: center center;
}

// MAIN

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    gap:5rem;
  }
}
.button {
  margin-top: 1rem;
  color: black;
  width: 8rem;
}
