@import 'core/reset';

@import 'App';
@import 'layout/dummy';
// @import 'layout/footer';
@import 'layout/form';
@import 'layout/header';
@import 'layout/instruction';
@import 'layout/letters';
@import 'layout/loading';